<div id="menu" class="overlay">
  <a href="javascript:" class="closebtn" (click)="closeNav()">
    <i class="fas fa-times fa-2x"></i>
  </a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <a href="javascript:" class="md">Title</a>
    <a href="javascript:">About</a>
    <a href="javascript:">Follow Us</a>
    <a href="javascript:">Sign-in to add films</a>
  </div>
</div>

<div class="topnav">
  <a href="javascript:"><i class="fab fa-adobe fa-2x"></i></a>
  <div class="topnav-right">
    <a href="javascript:" (click)="openNav()"><i class="fas fa-bars fa-2x"></i></a>
  </div>
</div>

<!-- Swiper -->
<div class="swiper-slide">I Feel Like</div>
<div class="slide-overlay"></div>
<div class="swiper-container">
  <div class="swiper-wrapper grabbable">
    <div class="swiper-slide">Option 1</div>
    <div class="swiper-slide">Option 2</div>
    <div class="swiper-slide">Option 3</div>
    <div class="swiper-slide">Option 4</div>
    <div class="swiper-slide">Option 5</div>
    <div class="swiper-slide">Option 6</div>
    <div class="swiper-slide">Option 7</div>
    <div class="swiper-slide">Option 8</div>
    <div class="swiper-slide">Option 9</div>
    <div class="swiper-slide">Option 10</div>
  </div>
</div>
